approximations.pyc
distributions.pyc
DoyleMLToolkit.pyc
models.pyc

Classifiers.pyc
Extractors.pyc

audioTest.py
figure_1.png
regression.py
regression.pyc
someGraphs.py
test.wav
thisIsATest.py
Untitled.ipynb

unused
features/*
